{% extends 'base/base.html'%}
{% block pestanaweb %}
<title>Acerca de onlyflans</title>
{% endblock%}

{% block webcontenido %}

<h3 class="text-center cafe_cuerpo fw-bold">Acerca de OnlyFlans</h3>

<br><br><br>
<div class="container">
    <p class="h4 cafe_cuerpo">¡Bienvenidos a OnlyFlans! Somos una tienda apasionada por ofrecerte el flan más delicioso
        y cremoso que puedas imaginar. En OnlyFlans, creemos que un buen flan puede alegrar cualquier día, y es por eso
        que nos dedicamos a crear una variedad de sabores y presentaciones que deleitarán tu paladar.</p>
</div>

<h3 class="text-center cafe_cuerpo fw-bold">
    Nuestra Historia
</h3>
<div class="container">
    <p class="h4 cafe_cuerpo"><span class="fw-bold cafe_cuerpo">OnlyFlans</span> nació de un sueño familiar: compartir con el mundo nuestra
        receta secreta de flan, que ha pasado de generación en generación. Desde nuestros humildes comienzos en una
        pequeña cocina casera, hemos crecido gracias al amor y apoyo de nuestros clientes, quienes han sido nuestra
        mayor inspiración.</p>
</div>

<h3 class="text-center cafe_cuerpo fw-bold">Nuestra Misión</h3>
<div class="container">
    <p class="h4 cafe_cuerpo">Nuestra misión es simple: ofrecer el mejor flan con los ingredientes más frescos y de la más alta calidad. Cada
        flan que hacemos es una obra de amor y dedicación, preparada cuidadosamente para brindarte una experiencia
        inolvidable en cada bocado.</p>
</div>

<h3 class="text-center cafe_cuerpo fw-bold">Nuestros Sabores</h3>
<div class="container">
    <p class="h4 cafe_cuerpo">En <span class="fw-bold cafe_cuerpo">OnlyFlans</span>, encontrarás una amplia variedad de sabores, desde los
        clásicos como vainilla y caramelo hasta nuestras innovadoras creaciones que combinan ingredientes únicos y
        sorprendentes. Siempre estamos experimentando y buscando nuevas formas de sorprenderte.</p>
</div>

<h3 class="text-center cafe_cuerpo fw-bold">Compromiso con la Calidad</h3>
<div class="container">
    <p class="h4 cafe_cuerpo">Nos enorgullecemos de utilizar solo los mejores ingredientes en nuestros productos. Creemos que la calidad es
        clave, y nos esforzamos por garantizar que cada flan que sale de nuestra tienda cumpla con los más altos
        estándares.</p>
</div>

<h3 class="text-center cafe_cuerpo fw-bold">Gracias por Elegirnos</h3>
<div class="container">
    <p class="h4 cafe_cuerpo">Agradecemos a cada uno de nuestros clientes por formar parte de la familia <span
            class="fw-bold cafe_cuerpo">OnlyFlans</span>. Esperamos seguir endulzando tus días con nuestros deliciosos
        flanes y crear juntos muchos más recuerdos dulces.</p>
</div>
<br><br><br>




{% endblock %}