{% extends 'base/base.html' %}

{% block webcontenido %}
<div class="container">
    <h1 class="mt-4 titulo letra_cafe">Lista de Flanes</h1>
    <a href="{% url 'flan_create' %}" class="btn cafe_liv my-3">Crear Nuevo Flan</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Slug</th>
                <th>Privado</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for flan in flanes %}
                <tr>
                    <td>{{ flan.name }}</td>
                    <td>{{ flan.description }}</td>
                    <td><img src="{{ flan.image_url }}" alt="{{ flan.name }}" width="50"></td>
                    <td>{{ flan.slug }}</td>
                    <td>{{ flan.is_private|yesno:"Sí,No" }}</td>
                    <td>{{ flan.price }}</td>
                    <td>
                        <a href="{% url 'flan_update' flan.flan_uuid %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'flan_delete' flan.flan_uuid %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
