{% extends 'base/base.html' %}

{% block webcontenido %}
<br><br><br>

<div class="container justify-content-center">
    <div>
    <h1 class="mt-4 titulo letra_cafe d-flex d-block">Eliminar Flan</h1>
</div>
    <p>¿Estás seguro de que quieres eliminar el flan "{{ flan.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'flan_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<br><br><br>
{% endblock %}
