{% extends 'base/base.html'%}
{% load static %}
{% block pestanaweb %}
<title>Inicio de onlyflans</title>
{% endblock%}

{% block webcontenido %}
<br> <br> <br>
<div class="container pt-3 text-center">
    <h1 class="titulo letra_cafe">OnlyFlans: Deléitate con los Mejores Flanes Artesanales</h1>
    <p class="titulo_mini ">Bienvenidos a nuestra pastelería, donde los flanes son nuestra pasión. <br> Desde los
        clásicos flanes de vainilla hasta los exóticos flanes de frutas, aquí encontrarás una variedad de opciones para
        satisfacer tu paladar.</p>

</div>


<br><br><br>
<div class="container ">
    <div id="carouselExampleIndicators" class="carousel slide ">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/img_1.jpg'%}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img_2.jpeg'%}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img_3.jpeg'%}" class="d-block w-100 img-fluid" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<br><br><br>
<h3 class="text-center pb-3 cafe_cuerpo titulo">Postres</h3>

<div class="container-fluid  pt-3">
    <div class="row mx-auto justify-content-center">
        {% for flan in flanes %}

        {% include 'fragmentos/flan_card.html' %}


        {% endfor %}
    </div>
</div>

{% endblock %}