{% extends 'base/base.html' %}

{% block title %}Registro Exitoso{% endblock %}

{% block webcontenido %}
<br><br><br>
<h1 class="text-center titulo letra_cafe">¡Registro Exitoso!</h1>
<div class="container-fluid d-flex justify-content-center mx-auto">
    <p class="titulo_mini">¡Tu cuenta ha sido creada! Ahora puedes iniciar sesión.</p><br>
</div>
<div class="container-fluid d-flex justify-content-center mx-auto">
    <a href="{% url 'indice' %}" class="btn cafe_cuerpo" style="background: #F5B03E;">Volver a Inicio</a>

</div>

<br><br><br>
{% endblock %}
